<!DOCTYPE html>

<html class="background">  

	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/static/styles/main.css">
		<link rel="stylesheet" href="/static/styles/results.css">

		<link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://fonts.cdnfonts.com/css/recoleta" rel="stylesheet">
		<script src="https://kit.fontawesome.com/93eb3aaca8.js" crossorigin="anonymous"></script>

		<title>Trail Finder</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	</head>
		<body onload = "loadTitles()">

		<div>
			<div class="backgroundImage"> </div>
			<div class="header">
				<div class="topText">
					<span id="title"> Trail  <span id="finder"> Finder </span>  </span>

				</div>
				<img id="logo" src="/static/images/Logo.png" alt="logo">
			</div>
		</div>
		
	<!-- Search Bar, filter and search Button -->
	<div class="inputs">

		<form id="search" autocomplete="off" action="{{ url_for('results') }}" method="post">
			<!-- <button class="filterButton" type="button" name="filter" onclick="openFilters()"> <i class="fa-solid fa-bars"></i> </button> -->
			<input type="text" placeholder="Discover your next adventure" name="search">
			<button class="searchButton" type="submit" value="submit" for='search' id='searchBtn'> <i class="fa fa-search"></i> </button>
		
			<div class="suggestionsBox">
				<li> </li>
			</div>

		</form>
	</div>


	{% block information %}
	<div class="introText">
		<p> Search for trails all around the US! <br> Utilize the advanced search to narrow down preferences based on state, distance, activities & terrain.  </p>
	</div>
	{% endblock %}
	
	<!-- Cards to be inserted -->
	{% block cards %} {% endblock %}

	<script src="{{url_for('static', filename='Scripts.js')}}">
	</script> 
</body>
	
</html>
