<!DOCTYPE html>

<html class="background">  

	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/static/styles/main.css">
		<link rel="stylesheet" href="{{ url_for('static', filename='main.css/')}}">
		<link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://fonts.cdnfonts.com/css/recoleta" rel="stylesheet">
		<script src="https://kit.fontawesome.com/93eb3aaca8.js" crossorigin="anonymous"></script>

		<title>Trail Finder</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	</head>

		<div>
			<div class="backgroundImage"> </div>
			<div class="header">
				<div class="topText">
					<span id="title"> Trail  <span id="finder"> Finder </span>  </span>

				</div>
				<img id="logo" src="/static/images/Logo.png" alt="logo">
			</div>
		</div>


	<div class="inputs">
		<form id="filter" action="{{ url_for('results') }}" method="post">
			<button class="filterButton" type="button" name="filter"> <i class="fa-solid fa-bars"></i> </button>
		</form>

		<form id="search" action="{{ url_for('results') }}" method="post">
			<input type="text" placeholder="Discover your next adventure" name="search">
			<button class="searchButton" type="submit" value="submit" for='search'> <i class="fa fa-search"></i> </button>
		</form>
	</div>


	{% block information %}
	<!-- <h1>Example</h1> -->
	
	{% endblock %}
	
	{% block cards %} {% endblock %}

</html>
