.error-message {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Recoleta', sans-serif;
    font-size: 110px;
    height: 90px;
    color: #1B8D20 ;
    padding-bottom: 10px;
}
#four {
    padding-left: 7px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 110px;
    padding-bottom: 20px;
    height: 90px;
    color: #E77F16;
}
.logo404 {
    position: relative;
    top: 25px;
    padding-left: 7px;

}
.middle {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
    font-family: 'Recoleta', sans-serif;
    margin-top: 220px;
}
.middle p {
    font-size: 24px;
    color: black;
    font-family: 'Roboto', sans-serif;

}
.header {
    display: flex;
    justify-content: center;
    margin-top: 64px;
}
.backgroundImage { /*Header background */
    display: block;
    width: 100%;
    height:100%;
    padding: 0;
    margin: 0;
    border: 0;
    top: 0px;
    left: 0px;
    z-index: -1;
    position: absolute;
    background-image: url("/static/images/end.jpg");
    background-size:  100% 100%;
    background-position: center
}
