.header {
    display: flex;
    justify-content: center;
    margin-top: 116px;
}

.header-position {
    height: 26%;
}
.top-text {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.logo {
    padding-left: 12px;
    height: 110px;
    width: 110px;
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.8));
    cursor: pointer;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 90px;
    padding-bottom: 20px;
    color: #1B8D20;
    font-family: 'Recoleta', sans-serif;
    font-size: 110px;
    cursor: pointer;
}

.finder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 25px;
    padding-bottom: 20px;
    height: 90px;
    color: #CB6A08;
    font-size: 110px;
}
.highlight {
    background-color: #c4c3c3;
}
 /*Header background image */
.background-image {
    position: absolute;
    display: block;
    z-index: -1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 274px;
    padding: 0;
    margin: 0;
    border: 0;
    background-image: url("/static/images/backgroundHeader.webp");
    background-size: 100% 240%;
    background-position: 0% 35%;
}

.top {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.background {
    -webkit-font-smoothing: antialiased;
    background: #E9E8E4;
}

.inputs {
    position: relative;
    display: flex;
    z-index: 30;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 44px;
    align-items: center;
    filter: drop-shadow(2px 2px 5px rgba(60, 60, 60, 0.3));
}

.suggestions-box {
    position: fixed;
    z-index: 30;
    top: 37px;
    margin-top: 15px;
    margin-left: 9px;
    background: #f1f1f1;
}

.suggestions-box li {
    display: none;
    list-style: none;
    width: 469px;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}

li.active {
    display: list-item;
}

.suggestions-box li:hover {
    background: #c4c3c3;
}

form#filter button:hover {
    background: #737373;
}
/* Style the submit button */
.search-button {
    width: 74px;
    padding: 12px;
    font-size: 22px;
    border: 1px solid grey;
    border-left: none;
    border-radius: 0px 10px 10px 0px;
    background: #19831E;
    color: white;
    cursor: pointer;
}

/* Style the search field */
form#search input[type=text] {
    padding: 13.5px;
    float: left;
    width: 460px;
    border: .5px solid grey;
    border-radius: 10px 0px 0px 10px;
    background: #f1f1f1;
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
}

.closeFlex input[type=text]:focus,
.filterOptions input[type=text]:focus,
form#search input[type=text]:focus {
    outline : none;
}
form#search button:hover {
    background: #D76D03;
}

/* Clear floats */
form#search::after {
    content: "";
    display: table;
    clear: both;
}

.intro-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
    color: #19831E;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
}

.intro-text p {
    margin-bottom: 18px;
    margin-top: 4px;
    line-height: 1.4em;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}
