
.header {
    display: flex;
    justify-content: center;
    margin-top: 64px;
    /* z-index: 15; */
    /* height: 100px; */
    
}
.topText {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

}

#logo {
    padding-left: 12px;
    height: 110px;
    width: 110px;
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.8));

}
#title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Recoleta', sans-serif;
    font-size: 110px;
    padding-bottom: 20px;
    height: 90px;
    color: #1B8D20 ;
}
#finder {
    padding-left: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 110px;
    padding-bottom: 20px;
    height: 90px;
    color: #E77F16;
}

.backgroundImage { /*Header background */
    display: block;
    width: 100%;
    height:220px;
    padding: 0;
    margin: 0;
    border: 0;
    top: 0px;
    left: 0px;
    z-index: -1;
    position: absolute;
    background-image: url("/static/images/backgroundHeader.png");
    background-size:  100% 150%;
    background-position: center
}

.top {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.background {
    background: #E9E8E4;
    -webkit-font-smoothing: antialiased;
}

.mid {
    background: #50C878 ;
    color: #545454;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    max-width: 800px;
    padding-top: 1em;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th {
    text-align: left;
    height: 100px;
    background: #93ded0;
    color: #ff9068;
}

td {
    text-align: left;
    background: #5c5590;
    color: #e98eff;
}

.blueText{
    color: #000afd;
    display: inline;
}

#redText{
    color: #fd0000;
    display: inline;
}


/* 
* {
    box-sizing: border-box;
  } */
  
.search {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    filter: drop-shadow(3px 3px 5px rgba(60, 60, 60, 0.3));

}

  /* Style the search field */
form.search input[type=text] {
    padding: 10px;
    font-size: 19px;
    border: 1px solid grey;
    float: left;
    width: 420px;
    background: #f1f1f1;
    font-family: 'Roboto', sans-serif;

  }
.filters {
    float: left;
    background: grey;
    color: white;
    width: 50px;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

  /* Style the submit button */
.searchButton {
    float: left;
    width: 85px;
    padding: 15px;
    background: #438b28;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  
form.search button:hover {
    background: #987554;
}
  
  /* Clear floats */
form.search::after {
    content: "";
    clear: both;
    display: table;
}

.TrailCard {
    display: block;
    background-color:white;
    margin-top: 35px;
    margin-bottom: 0px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    height: 320px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    filter: drop-shadow(3px 3px 5px rgba(60, 60, 60, 0.3));
}

.TrailCard-header {
    background-color: #1B8D20;
    width: 1000px;
    height: 70px;
    border-bottom: 2px solid grey;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.TrailCard-header h2 {
    font-size: 2em;
    margin-top: auto;
    margin-bottom: auto;
}

.TrailCard-header span {
    line-height: 70px;
    text-align: center;
    display: block;
    font-size: 1.2em;
    font-weight: bold; 
}
.TrailCard-body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 248px;
    color: black;
    font-family: 'Roboto', sans-serif;
    
}

.TrailCard-image {  
    width: 200px;
    height: 200px;
    background-image: url("/static/images/marine.jpg");
    background-size: cover;

    display: block;
    border: 0px;
}
.TrailCard-description {
    width: 400px;
    text-align: center;
    
}
.TrailCard-cloud { 
    width: 200px;
    height: 200px;
    background-image: url("/static/images/cloud.png");
    background-size: cover;
    background-position: center;
    display: block;
    border: 0px;
}