
.header {
    display: flex;
    justify-content: center;
    margin-top: 64px;
}
.topText {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
#logo {
    padding-left: 12px;
    height: 110px;
    width: 110px;
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.8));
}

#title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Recoleta', sans-serif;
    font-size: 110px;
    padding-bottom: 20px;
    height: 90px;
    color: #1B8D20 ;
}
#finder {
    padding-left: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 110px;
    padding-bottom: 20px;
    height: 90px;
    color: #E77F16;
}

.backgroundImage { /*Header background */
    display: block;
    width: 100%;
    height:220px;
    padding: 0;
    margin: 0;
    border: 0;
    top: 0px;
    left: 0px;
    z-index: -1;
    position: absolute;
    background-image: url("/static/images/backgroundHeader.png");
    background-size:  100% 180%;
    background-position: center
}

.top {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.background {
    background: #E9E8E4;
    -webkit-font-smoothing: antialiased;
}


.inputs {
    display: flex;
    justify-content: center;
    filter: drop-shadow(3px 3px 5px rgba(60, 60, 60, 0.3));
    margin-top: 20px;
    align-items: center;
}
  
form#filter button:hover {
    background: #E77F16;
}

.filterButton {
    float: left;
    background: grey;
    color: white;
    width: 50px;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 15px
}

  /* Style the submit button */
.searchButton {
    float: left;
    width: 85px;
    padding: 15px;
    background: #438b28;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  /* Style the search field */
form#search input[type=text] {
    padding: 13.5px;
    font-size: 19px;
    border: .5px solid grey;
    float: left;
    width: 420px;
    background: #f1f1f1;
    font-family: 'Roboto', sans-serif;
}

  
form#search button:hover {
    background: #E77F16;
}
  
  /* Clear floats */
form#search::after {
    content: "";
    clear: both;
    display: table;
}
/* Result card styles */
.TrailCard {
    display: block;
    background-color:white;
    margin-top: 35px;
    margin-bottom: 0px;
    width: 920px;
    margin-left: auto;
    margin-right: auto;
    height: 212px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    filter: drop-shadow(3px 3px 5px rgba(60, 60, 60, 0.3));
}

.TrailCard-header {
    background-color: #1B8D20;
    width: 920px;
    height: 50px;
    border-bottom: 2px solid grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Recoleta', sans-serif; */

}

.TrailCard-header h2 {
    font-size: 1.5em;
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Recoleta', sans-serif;

}

.TrailCard-header .length {
    line-height: 55px;
    text-align: center;
    display: block;
    font-size: 1.2em;
    font-weight: bold; 
    margin-left: 50px;
    width: 90px
}

.TrailCard-header .difficulty {
    line-height: 55px;
    text-align: center;
    display: block;
    font-size: 1.2em;
    font-weight: bold; 
    margin-right: 50px;
    width: 90px
}
.TrailCard-body {
    display: flex;
    justify-content: space-between;
    align-items: start;
    height: 160px;
    color: black;
    font-family: 'Roboto', sans-serif; 
    /* font-family: 'Recoleta', sans-serif; */

}
.TrailCard-image {  
    width: 210px;
    height: 160px;
    /* background-image: url("/static/images/marine.jpg"); */
    background-size: cover;
    display: block;
    border: 0px;
    border-bottom-left-radius: 5px;
}
.TrailCard-description {
    display: flex;
    width: 440px;
    height: 160px;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}
.TrailCard-description h3 {
    margin-top: 8px;
    font-weight: 700;
    font-size: 17px;
}

.TrailCard-description p {
    height: 60px;
    margin-top: 0%;
}
.TrailCard-description a {
    color: #E77F16;
    margin-bottom: 3px;
    text-decoration: none;
}
.TrailCard-cloud { 
    width: 210px;
    height: 160px;
    background-image: url("/static/images/cloud.png");
    background-size: cover;
    background-position: center;
    display: block;
    border: 0px;
    border-bottom-right-radius: 5px;
}