/* Result card styles */
.TrailCard {
    display: block;
    background-color:white;
    margin-top: 35px;
    margin-bottom: 0px;
    width: 920px;
    margin-left: auto;
    margin-right: auto;
    height: 210px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    filter: drop-shadow(3px 3px 5px rgba(60, 60, 60, 0.3));
}

.TrailCard-header {
    background-color: #1B8D20;
    width: 920px;
    height: 50px;
    border-bottom: 1px solid grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.TrailCard-header h2 {
    font-size: 1.5em;
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Roboto', sans-serif; 
}

.TrailCard-header .length {
    line-height: 55px;
    text-align: center;
    display: block;
    font-size: 1.2em;
    font-weight: bold; 
    margin-left: 50px;
    width: 90px
}

.TrailCard-header .difficulty {
    line-height: 55px;
    text-align: center;
    display: block;
    font-size: 1.2em;
    font-weight: bold; 
    margin-right: 50px;
    width: 90px
}
.TrailCard-body {
    display: flex;
    justify-content: space-between;
    align-items: start;
    height: 160px;
    color: black;
    font-family: 'Roboto', sans-serif; 
}
.TrailCard-image {  
    width: 210px;
    height: 160px;
    background-size: cover;
    display: block;
    border: 0px;
    border-bottom-left-radius: 5px;
}
.TrailCard-image:hover {
    opacity: 0.7;
}
.TrailCard-description {
    display: flex;
    width: 440px;
    height: 160px;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}
.TrailCard-description h3 {
    margin-top: 8px;
    font-weight: 700;
    font-size: 17px;
}
.TrailCard-description p {
    height: 60px;
    margin-top: 0%;
}
.TrailCard-description a {
    color: #E77F16;
    margin-bottom: 3px;
    text-decoration: none;
}
.TrailCard-cloud { 
    width: 210px;
    height: 160px;
    background-size: cover;
    background-position: center;
    display: block;
    border: 0px;
    border-bottom-right-radius: 5px;
}
#LargeImage {
    display: None;
    border-radius: 10%;
}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 220px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,.92); 
}
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 800px;
}
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 55px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover, .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
}
.modal-content, #caption, .cloud-content {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 07s;
    animation-name: zoom;
    animation-duration: 0.7s;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
.cloud-content {
    margin: auto;
    display: block;;
    max-height: 800px;
    max-width: 800px;
}
.cloud-modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 120px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,.92); 
  }