/* Result card styles */
.trail-card {
    display: block;
    position: relative;
    z-index: 10;
    margin-bottom: 30px;
    width: 44%;
    min-width: 700px;
    max-width: 980px;
    filter: drop-shadow(2px 2px 5px rgba(60, 60, 60, 0.15));
    box-shadow: 0 14px 26px rgba(0,0,0,0.04);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #ffffff;
    transition: all 0.25s ease-out;
}

.trail-card:hover { 
    transform: translateY(-5px)  translateZ(0) perspective(1px);
    box-shadow: 0 24px 36px rgba(0,0,0,0.11),
      0 24px 46px var(--box-shadow-color);
}

.trail-card-example {
    align-self: center;
}

.trail-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    color: #ffffff;
}

.trail-card-header h2 {
    margin-bottom: auto;
    margin-top: auto;
    width: 46%;
    font-size: 1.22em;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    text-align: center;
}

.trail-card-header .length {
    display: block;
    margin-left: 56px;
    width: 13%;
    line-height: 55px;
    font-size: 1.3em;
    text-align: center;
}

.trail-card-header .difficulty {
    display: block;
    margin-right: 56px;
    width: 13%;
    font-size: 1.3em;
    line-height: 55px;
    text-align: center;
}

.trail-card-body {
    display: flex;
    align-items: start;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.trail-card-image {
    display: block;
    width: 210px;
    height: 160px;
    border: 0px;
    border-bottom-left-radius: 10px;
    background-size: cover;
}

.trail-card-image:hover {
    opacity: 0.8;
    cursor: pointer
}
.trail-card-cloud:hover  {
    opacity: 0.6;
    cursor: pointer
}

.trail-card-description {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    width: 422px;
    height: 160px;
    margin-left: 10px;
    margin-right: 10px;
}

.trail-card-description h3 {
    margin-top: 4px;
    margin-bottom: 2px;
    font-weight: 700;
    font-size: .9rem;
}

.trail-card-description h4 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: .8rem;
}

.trail-card-description p {
    display: -webkit-box;
    max-height: 65px;
    margin-top: 0px;
    margin-bottom: 4px;
    overflow: hidden;
    font-size: .8rem;
    font-family: 'Roboto', sans-serif;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.trail-card-description a {
    margin-bottom: 4px;
    text-decoration: none;
    font-size: 14px;
    color: #E77F16;
}

.trail-card-cloud {
    display: block;
    width: 210px;
    height: 159px;
    border: 0px;
    border-bottom-right-radius: 10px;
    background-size: cover;
    background-position: center;
}
.short {
    background-color: #1B8D20;

}

.medium {
    background-color: #E77F16
}

.long {
    background-color: #dc0000;
}

.modal {
    display: none;
    position: fixed;
    z-index: 30;
    left: 0;
    top: 0;
    padding-top: 5%;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, .88);
}

.modal-content {
    margin: auto;
    display: block;
    width: 40%;
    max-height: 70%;
    border-radius: 10px;
    border: black solid .5px;
}

.close {
    display: flex;
    justify-content: center;
    margin-left: 43%;
    font-size: 3.5rem;
    font-weight: bold;
    transition: 0.3s;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    padding: 10px 0;
    height: 150px;
    text-align: center;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    color: #E9E8E4;
}

.modal-content,
.caption,
.cloud-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 05s;
    animation-name: zoom;
    animation-duration: 0.5s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.cloud-content {
    margin: auto;
    display: block;
    width: 40%;
    border-radius: 12px;
    border: #000000 solid .5px;
}
.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem
}

.page-item:last-child .page-link {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.page-item.active .page-link {
    color: #fff;
    background-color: #1B8D20;
}

.page-item.disabled .page-link {
    color: #fff;
    pointer-events: none;
    background-color: #E77F16;
    border-color: #ddd
}

.page-link {
    position: relative;
    display: flex;
    padding: .8rem .8rem;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
    background-color: #E77F16;
}

.page-link:focus,
.page-link:hover {
    color: #1B8D20;
    text-decoration: none;
    background-color: #E77F16;
    border-color: #ddd
}

.pagination-lg .page-link {
    padding: .75rem 1.5rem;
    font-size: 1.25rem;
    line-height: 1.5
}

.pagination-lg .page-item:first-child .page-link {
    border-top-left-radius: .3rem;
    border-bottom-left-radius: .3rem;
}

.pagination-lg .page-item:last-child .page-link {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
}

.pagination-sm .page-link {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5
}

.pagination-sm .page-item:first-child .page-link {
    border-top-left-radius: .2rem;
    border-bottom-left-radius: .2rem
}

.pagination-sm .page-item:last-child .page-link {
    border-top-right-radius: .2rem;
    border-bottom-right-radius: .2rem
}
.grid {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 3%;
    width: 97%;
}
.no-results {
    display: flex;
    margin: auto;
    justify-content: center;
    color: #1B8D20;
    font-size: 2.4em;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}